body {
   background-color: black;
   font-family: 'Courier New', Courier, monospace
}


select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-color: transparent;
   color: #DD0806;
   border: none;
   outline: none;
   font-size: 12px;
   text-align: center;
   font-weight: bold;
   overflow: hidden;
}

select:focus {
   border: none;
   outline: none;
}

.wrapper {
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 640px;
   height: 480px;
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
}


.no-select {
   user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
}

#loading-text{ 
  
   position: absolute;
   left: 285px;
   top: 185px;
   color: white;
   font-size: 20px;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
   50%{
      opacity: .1;
   }
 }

#main-menu {
   height: 100%;
   width: 100%;
   background-image: url('../images/mainMenu.png');
   background-size:100% 100%
}

#genres {
   display: flex;
   position: absolute;
   left: 250px;
   top: 140px;
}
/* menu column */
#genres>div {
   flex-direction: column;
   width: 150px;
   cursor: pointer;
}
/* menu title */
#genres>div>button {
   display: block;
   font-size: 23px;
   padding-bottom: 14px;
   font-weight: bold;
   color: white;
   background: transparent;
   cursor: pointer;
   border: none;
}

#game-board {
   height: 100%;
}


/* SONGALIZER  */
#songs {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 8px;
   top: 37px;
   gap: 5px;
}
#songs>div {
   height: 38px;
   width: 40px;
   cursor: grab;
   /* border: 1px saddlebrown solid; */
}

#slots {
   position: absolute;
   display: flex;
   left: 200px;
   top: 382px;

   width: 530px;
   height: 44px;
}


#song-names {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 49px;
   top: 40px;
   gap: 11px;
}


/* VOCALIZER */
#vocalizer {
   display: grid;
   position: absolute;
   left: 551px;
   top: 96px;
   grid-template-columns: 34px 34px;
   gap: 5px 2px;
}
#vocalizer>div {
   height: 29px;
   width: 29px;
   opacity: 0;
}


/* VOLUME SLIDER */
/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range] {
   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
   width: 100%; /* Specific width is required for Firefox. */
   background: transparent; /* Otherwise white in Chrome */
 }
 input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
 }
 input[type=range]:focus {
   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
 }


 /* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 18px;
   width: 10px;
   border-radius: 1px;
   background: #ffffff;
   cursor: pointer;

 }
 /* All the same stuff for Firefox */
 input[type=range]::-moz-range-thumb {
   height: 18px;
   width: 10px;
   border-radius: 1px;
   background: #ffffff;
   cursor: pointer;
 }

.slider-wrapper {
   display: inline-block;
   position: absolute;
   left: 232px;
   top: 123px;
   width: 10px;
   height: 92px;
}
.slider-wrapper input {
   position: absolute;
   left: 6px;
   top: -2px;
   width: 105px;
   margin: 0;
   transform-origin: 45px 55px;
   transform: rotate(-90deg);
}


/*  VIBE  */
#vibe-trigger {
   position: absolute;
   left: 283px;
   top: 101px;
   height: 112px;
   width: 113px;
}
#vibe-select {
   position: absolute;
   left: 280px;
   top: 221px;
   width:122px;
}

/* BOP */
#bop-trigger {
   position: absolute;
   left: 433px;
   top: 88px;
   height: 80px;
   width:82px;
   background-color: transparent;
}
#bop-select {
   position: absolute;
   left: 411px;
   top: 176px;
   width:120px;
}


/* PITCH EM  */
#pitchem-digit-select {
   position: absolute;
   left: 515px;
   top: 303px;
   width:120px;
}
#pitchem-key-select {
   position: absolute;
   left: 515px;
   top: 335px;
   width:120px;
}


/* KEYMAP */
#keymap-trigger {
   position: absolute;
   left: 234px;
   top: 332px;
   width: 88px;
   height: 32px;
   background: transparent;
   border: none;
}
#keymap-image {
   position: absolute;
   left: 219px;
   top: 242px;
   width: 304px;
   height: 122px;
}

/* START CLEAR */
#controls {
   position: absolute;
   left: 372px;
   top: 449px;
}
#controls>button {
   width: 84px;
   height: 28px;
   margin-left: 2px;
   border: none;
   background: transparent;
}


/* QUIT MENU */
#quit-menu {
   position: absolute;
   left: 60px;
   top: 458px;
   width: 100px;
   height: 22px;
   background: transparent;
   border: none;
   }



/* RECORDING */
#recording {
   position: absolute;
   left: 300px;
   top: -50px;
}

/*//////////////////////// EFFECTS ////////////////////////*/

#reverb{
   position: absolute;
   top: 220px;
   left: 445px;
   background-color: #DD0806;
}

#reverb-select{
   position: absolute;
   top: 241px;
   left: 436px;
   width: 80px;
   background-color: aliceblue;
   border: 2px black solid;
}


/*//////////////////////// DEBUGGING ////////////////////////*/

/* SUPPORT */
#support {
   position: absolute;
   left: 175px;
   top: -100px;
   padding: 10px;
   width: 330px;
   height: 100px;
   color: wheat;
   font-size: 14px;
}

#bug-link {
   position: absolute;
   left: 60px;
   top: 42px;
   font-size: 18px;
   font-weight: bold;
   color: #DD0806;
   text-decoration: none;
}
#bug-link:hover {
   color: yellow;
}